extends layout 

block content 
  div.create-form 
   
    form(action="/create/delete/shaper" method="POST") 
     h2.form-title Delete Shaper and all Shaper's models/stock
     div.form-group-delete
      div
       label(for="shaper" class="delete-field") Shaper: 
       select(name="shaper" type="select")
         for shaper in shapers 
          option(value=shaper._id name="shaper" class="delete-field") #{shaper.shaperName} 
      button(type="submit" class="submit-file-btn delete-field") Remove

  div.create-form  
    form(action="/create/delete/model" method="POST") 
     h2.form-title Delete Model and all Model's stock
     div.form-group-delete
      div
       label(for="model" class="delete-field") model: 
       select(name="model" type="select")
        for model in models 
          option(value=model._id name="model" class="delete-field") #{model.model} 
      button(type="submit" class="submit-file-btn delete-field") Remove

  div.create-form 
    form(action="/create/delete/instance" method="POST") 
     h2.form-title Delete single board from stock
     div.form-group-delete
      div
        label(for="instance" class="delete-field") Board: 
        select(name="instance" type="select")
         for instance in instances 
           option(value=instance._id name="instance" class="delete-field") #{`${instance.model ? instance.model.shaper.shaperName : ""} - ${instance.model ? instance.model.model : ""} - ${instance.size}`} 
      button(type="submit" class="submit-file-btn delete-field") Remove