extends layout 

block content 
 div.model-detail-container
  div(class="model-container")
    h1 #{model.shaper.shaperName} - #{model.model} 

    img(src=model.image alt=`${model.shaper.shaperName} - ${model.model}` class="model-detail-image")
  
    if items.length
     p We currently have the following sizes in stock for the  #{model.model}

     ul 
      each board in items 
       li #{board.size}

     a(href="/create/instance") Click here to add stock for the #{model.shaper.shaperName} #{model.model}   
     
    else 
     p This model is currently out of stock <br/><br/>
      a(href="/create/instance") Click here to add stock for the #{model.shaper.shaperName} #{model.model} 


